<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>FrontController</servlet-name>
        <servlet-class>frontController.FrontController</servlet-class>
        <init-param>
            <param-name>dataTestJeannory</param-name>
            <param-value>subControllers.JeannoryDataTestCtrl</param-value>
        </init-param>
        <init-param>
            <param-name>kitchen</param-name>
            <param-value>subControllers.KitchenCtrl</param-value>
        </init-param>
        <init-param>
            <param-name>versLogin</param-name>
            <param-value>subControllers.VersLoginCtrl</param-value>
        </init-param>
        <init-param>
            <param-name>login</param-name>
            <param-value>subControllers.LoginCtrl</param-value>
        </init-param>
        <init-param>
            <param-name>backoffice</param-name>
            <param-value>subControllers.BackOfficeCtrl</param-value>
        </init-param>
        <init-param>
            <param-name>carteJeannory</param-name>
            <param-value>subControllers.versCarteJeannoryCtrl</param-value>
        </init-param>
        <init-param>
            <param-name>combo</param-name>
            <param-value>subControllers.ComboCtrl</param-value>
        </init-param>
        <init-param>
            <param-name>overview</param-name>
            <param-value>subControllers.OverviewCtrl</param-value>
        </init-param>
        <init-param>
            <param-name>product-choice</param-name>
            <param-value>subControllers.ProductChoiceCtrl</param-value>
        </init-param>
        <init-param>
            <param-name>include</param-name>
            <param-value>subControllers.IncludeCtrl</param-value>
        </init-param>
        <init-param>
            <param-name>home</param-name>
            <param-value>subControllers.HomeCtrl</param-value>
        </init-param>
        <init-param>
            <param-name>payment</param-name>
            <param-value>subControllers.PaymentCtrl</param-value>
        </init-param>
        <init-param>
            <param-name>table</param-name>
            <param-value>subControllers.VersMyTablesCtrl</param-value>
        </init-param>
        <init-param>
            <param-name>newOrder</param-name>
            <param-value>subControllers.versNewOrder</param-value>
        </init-param>
        <init-param>
            <param-name>panier</param-name>
            <param-value>subControllers.PanierCtrl</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>FrontController</servlet-name>
        <url-pattern>/FrontController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <ejb-local-ref>
        <ejb-ref-name>CatalogTreatment</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>sessionBeans.CatalogTreatmentLocal</local>
        <ejb-link>terreIyaki-ejb.jar#CatalogTreatment</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>CatalogTreatment1</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>sessionBeans.CatalogTreatmentLocal</local>
        <ejb-link>terreIyaki-ejb.jar#CatalogTreatment</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>KitchenTreatment</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>sessionBeans.KitchenTreatmentLocal</local>
        <ejb-link>terreIyaki-ejb.jar#KitchenTreatment</ejb-link>
    </ejb-local-ref>
</web-app>
